* {
    margin: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
}

body {
    min-height: 100vh;
    background: url("assets/ishan-seefromthesky-TobZaa8ZwI4-unsplash.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}