* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
}

body {
    min-height: 100vh;
    background: url("assets/ishan-seefromthesky-TobZaa8ZwI4-unsplash.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

body::after {

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: rgb(7, 7, 7);
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #0c0c0c;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}

.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #0a0a0a;
    transition: .3s;
}

.navbar a:hover::before {
    
    width: 100%;
}

.hero {
    margin: 100px;
}

.pic {
    width: 300px;
    height: 300px;
    background-image: url(assets/mikhail-vasilyev-gGC63oug3iY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    margin: 40px;
}

.pic:hover {
   
    background-image: url(assets/aarn-giri-3lGi0BXJ1W0-unsplash.jpg);
}